# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment variables
.env

# Node.js
node_modules/
frontend/node_modules/

# Build files
frontend/dist/

# Local databases
*.db
*.sqlite
*.sqlite3

# macOS
.DS_Store